.dialog {
    background-image: "haxeui-flixel/styles/default/images/button.png";
    background-image-clip: 0px 0px 18px 18px;
    background-image-slice: 5px 5px 13px 13px;

    border: none;
    background-color: none;
    padding: 5px;
}

.dialog-close-button {
    resource: "haxeui-flixel/styles/default/images/close.png";
}

.dialog-title {
    background-color: #3399FF;
    border: none;
}

.dialog-title-label {
    color: white;
    __margin-top: -1px;
}

.dialog-content {
    padding: 0px;
    padding-top: 5px;
}

.dialog-footer-container {
    background-color: none;
    border: none;
}

.dialog-footer {
    padding: 0;
    padding-top: 5px;
}