.scrollview {
    background-image: "haxeui-flixel/styles/default/images/inset_thin.png";
    background-image-clip: 0px 0px 18px 18px;
    background-image-slice: 5px 5px 13px 13px;
    
    border: none;
    padding: 2px;
    border-radius: none;
    filter: none;
}

.horizontal-scroll .button, .vertical-scroll .button {
    background-image: none;
    border: none;
    background-color: #c5c5c5;
    padding: 0;
    padding-bottom: 0;
}

.horizontal-scroll .button:hover, .vertical-scroll .button:hover {
    background-color: #d0d0d0;
}

.horizontal-scroll .button:down, .vertical-scroll .button:down {
    background-color: #c5c5c5;
}


.vertical-scroll  .deinc {
    height: 13px;
    width: 13px;
    background-color: #e9e9e9;
    icon: "haxeui-flixel/styles/default/images/up_arrow.png";
}

.vertical-scroll  .deinc:hover {
    background-color: #d0d0d0;
    icon: "haxeui-flixel/styles/default/images/up_arrow.png";
}

.vertical-scroll  .deinc:down {
    background-color: #c5c5c5;
    icon: "haxeui-flixel/styles/default/images/up_arrow.png";
}


.vertical-scroll  .inc {
    height: 13px;
    width: 13px;
    background-color: #e9e9e9;
    icon: "haxeui-flixel/styles/default/images/down_arrow.png";
}

.vertical-scroll  .inc:hover {
    background-color: #d0d0d0;
    icon: "haxeui-flixel/styles/default/images/down_arrow.png";
}

.vertical-scroll  .inc:down {
    background-color: #c5c5c5;
    icon: "haxeui-flixel/styles/default/images/down_arrow.png";
}


.vertical-scroll {
    width: 13px;
}

.vertical-scroll .thumb {
    width: 13px;
    height: 13px;
}












.horizontal-scroll  .deinc {
    height: 13px;
    width: 13px;
    background-color: #e9e9e9;
    icon: "haxeui-flixel/styles/default/images/left_arrow.png";
}

.horizontal-scroll  .deinc:hover {
    background-color: #d0d0d0;
    icon: "haxeui-flixel/styles/default/images/left_arrow.png";
}

.horizontal-scroll  .deinc:down {
    background-color: #c5c5c5;
    icon: "haxeui-flixel/styles/default/images/left_arrow.png";
}


.horizontal-scroll  .inc {
    height: 13px;
    width: 13px;
    background-color: #e9e9e9;
    icon: "haxeui-flixel/styles/default/images/right_arrow.png";
}

.horizontal-scroll  .inc:hover {
    background-color: #d0d0d0;
    icon: "haxeui-flixel/styles/default/images/right_arrow.png";
}

.horizontal-scroll  .inc:down {
    background-color: #c5c5c5;
    icon: "haxeui-flixel/styles/default/images/right_arrow.png";
}


.horizontal-scroll {
    height: 13px;
}

.horizontal-scroll .thumb {
    width: 13px;
    height: 13px;
}
