<?xml version="1.0" encoding="utf-8" ?>
<module id="haxeui-flixel">
    <resources>
        <resource path="/haxe/ui/backend/flixel/_module/styles" prefix="haxeui-flixel/styles" />
    </resources>
    
    <components>
        <class package="haxe.ui.backend.flixel.components" />
    </components>

    <themes>
        <default>
            <style resource="haxeui-flixel/styles/default/main.css" />
        </default>
    </themes>
</module>