.property-grid {
    padding-right: 0px;
}

.property-grid .vertical-scroll {
    margin-left: -1px;
}

.property-group .dropdown {
    background-image: "haxeui-flixel/styles/flixel-ui/images/drop_down_propertygrid.png";
    background-image-clip: 0px 0px 18px 18px;
    background-image-slice: 5px 5px 13px 13px;
}

.property-group .dropdown:hover {
    background-image: "haxeui-flixel/styles/flixel-ui/images/drop_down_propertygrid.png";
    background-image-clip: 18px 0px 36px 18px;
    background-image-slice: 5px 5px 13px 13px;
}

.property-group .dropdown:down {
    background-image: "haxeui-flixel/styles/flixel-ui/images/drop_down_propertygrid.png";
    background-image-clip: 36px 0px 54px 18px;
    background-image-slice: 5px 5px 13px 13px;
}

.property-group .stepper-inc {
    background-image: "haxeui-flixel/styles/flixel-ui/images/number_stepper_inc_button_propertygrid.png";
}

.property-group .stepper-deinc {
    background-image: "haxeui-flixel/styles/flixel-ui/images/number_stepper_deinc_button_propertygrid.png";
}

.property-group .textfield {
    background-image: none;
}

.property-group-contents {
    width: 100%;
    spacing: 0;
    background-color: none;
    padding-bottom: 0px;
    padding-right: 0px;
}

.property-group-item-label-container {
    border-bottom: 1px solid black;
}

.property-group-item-editor-container {
    border-left: 1px solid black;
    border-bottom: 1px solid black;
    border-right: 1px solid black;
}        

.property-group .number-stepper {
    background-image: none;
    padding: 0;
}

.property-group-header {
    border-bottom: 1px solid black;
    border-right: 1px solid black;
}

.property-group-header .label {
    margin-top: -1px;
}

.property-group-header:expanded .property-group-header-icon {
    resource: "haxeui-flixel/styles/flixel-ui/images/down_arrow_square.png";
}

.property-group-header:collapsed .property-group-header-icon {
    resource: "haxeui-flixel/styles/flixel-ui/images/right_arrow_square.png";
}

.property-group-header {
    __background-color: #c5c5c5;
}

.property-group-header:hover {
    __background-color: #d0d0d0;
}

